@use "../../styles/mixins" as *;

.breathe__circle {
  color: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 6.25rem;
  height: 6.25rem;
  border-radius: 50%;
  background-color: rgba(254, 251, 251, 0.9);
}

.breathe__anim {
  animation-name: breathe;
  animation-duration: 8s;
  animation-direction: linear;
  animation-iteration-count: 5;
}
