@use "./styles/mixins";
@use "./styles/typography" as *;
@use "./styles/variables" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Proxima Nova Rg", sans-serif;
  background: linear-gradient(rgb(20, 22, 28), rgba(26, 28, 35, 0.8));
  height: 100vh;
}
