@use "./styles/mixins";
@use "./styles/typography" as *;
@use "./styles/variables" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: black;
}
