@use "./variables" as *;

@mixin tablet {
  @media (min-width: $breakpoint-tablet) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $breakpoint-desktop) {
    @content;
  }
}

@keyframes breathe {
  0% {
    box-shadow: 0 0 0 25px rgba(245, 243, 241, 1),
      0 0 0 50px rgba(228, 228, 228, 1), 0 0 0 70px rgba(193, 193, 193, 1),
      0 0 0 80px rgba(138, 138, 138, 1);
  }
  50% {
    box-shadow: 0 0 0 35px rgba(254, 251, 251, 1),
      0 0 0 65px rgba(254, 251, 251, 1), 0 0 0 85px rgba(193, 193, 193, 1),
      0 0 0 115px rgba(138, 138, 138, 1);
  }

  100% {
    box-shadow: 0 0 0 25px rgba(245, 243, 241, 1),
      0 0 0 50px rgba(228, 228, 228, 1), 0 0 0 70px rgba(193, 193, 193, 1),
      0 0 0 80px rgba(138, 138, 138, 1);
  }
}
