@use "./variables" as *;

@mixin tablet {
  @media (min-width: $breakpoint-tablet) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $breakpoint-desktop) {
    @content;
  }
}

@keyframes breathe {
  0% {
    box-shadow: 0 0 0 0.9375rem rgba(254, 251, 251, 0.4),
      0 0 0 1.875rem rgba(254, 251, 251, 0.4),
      0 0 0 2.8125rem rgba(254, 251, 251, 0.4),
      0 0 0 3.75rem rgba(254, 251, 251, 0.4),
      0 0 0 4.6875rem rgba(254, 251, 251, 0.4);
  }
  50% {
    box-shadow: 0 0 0 1.5625rem rgba(254, 251, 251, 0.4),
      0 0 0 3.125rem rgba(254, 251, 251, 0.4),
      0 0 0 4.6875rem rgba(254, 251, 251, 0.4),
      0 0 0 6.25rem rgba(254, 251, 251, 0.4),
      0 0 0 7.8125rem rgba(254, 251, 251, 0.4);
  }

  100% {
    box-shadow: 0 0 0 0.9375rem rgba(254, 251, 251, 0.4),
      0 0 0 1.875rem rgba(254, 251, 251, 0.4),
      0 0 0 2.8125rem rgba(254, 251, 251, 0.4),
      0 0 0 3.75rem rgba(254, 251, 251, 0.4),
      0 0 0 4.6875rem rgba(254, 251, 251, 0.4);
  }
}
